:root {
  --ant-primary-color: #87d068 !important;

  --icon-color: #1a1a1a1a !important;
  --icon-color: #3bb4c1 !important;
  --icon-color: #9cd590 !important;

  --white-color: #fff;
  --black-color: #000;
}

.ant-list-item-meta-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  font-size: 1.6rem !important;
  text-transform: uppercase;
  color: var(--ant-primary-color) !important;
}
.ant-list-item-main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem !important;
}

.collapse-description {
  background-color: var(--ant-primary-color) !important;
}
.collapse-description div {
  color: #fff !important;
}
.ant-collapse-content-box p {
  color: #000 !important;
  font-size: 0.8rem;
}

.ant-table-cell {
  color: var(--ant-primary-color) !important;
}
.ant-table-row .ant-table-cell {
  color: #000 !important;
}

.ant-table-row .ant-table-cell::first-letter {
  text-transform: uppercase !important;
}
