:root {
  --ant-primary-color: #87d068 !important;

  --icon-color: #1a1a1a1a !important;
  --icon-color: #3bb4c1 !important;
  --icon-color: #9cd590 !important;

  --breadcrump-color: #33bcb7;

  --white-color: #fff;
  --black-color: #000;
}

/*********FONT************/

@font-face {
  font-family: Title;
  src: url("./fonts/SofiaPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Paragraph;
  src: url("./fonts/Mark-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Link;
  src: url("./fonts/Mark-Bold.ttf") format("truetype");
}
/**********BASE*****************/

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: Title !important;
}

p,
pre,
span,
.ant-list-item-main {
  font-family: Paragraph !important;
}

a {
  font-family: Link !important;
  color: yellowgreen !important;
}
a:hover {
}

h1 {
  font-size: 2.4rem !important;
}
h2 {
  font-size: 2rem !important;
}
h3,
.logo {
  font-size: 1.8rem !important;
}
h4 {
  font-size: 1.4rem !important;
}
h5 {
  font-size: 1.025rem !important;
}
h6 {
  font-size: 1rem !important;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.8rem !important;
  }
  h2 {
    font-size: 2.4rem !important;
  }
  h3 {
    font-size: 2rem !important;
  }
  h4 {
    font-size: 1.5rem !important;
  }
  h5 {
    font-size: 1.25rem !important;
  }
  h6 {
    font-size: 1.1rem !important;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.7rem !important;
  }
  h2 {
    font-size: 3.4rem !important;
  }
  h3 {
    font-size: 2.7rem !important;
  }
  h4 {
    font-size: 1.5rem !important;
  }
  h5 {
    font-size: 1.25rem !important;
  }
  h6 {
    font-size: 1.05rem !important;
  }
}

/*********SITE**************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.ant-btn-primary {
  border: none !important;
  background: var(--ant-primary-color) !important;
  color: var(--white-color) !important;
}

.ant-rate-star-full {
  color: #fadb14 !important;
}

.header {
  height: 80px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.sidebar:first-child {
  padding-left: 1em;
  text-transform: uppercase;
}
.sidebar:first-child:first-child {
  align-items: center;
}
.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center;
  align-items: center;
}
.align-items-center {
  align-items: center;
}
.search-bar {
  max-width: 40%;
}
.ant-input:hover {
  border-color: var(--ant-primary-color) !important;
}

.ant-input-search-with-button .ant-input,
.ant-input-search-with-button .ant-input-search-button {
  border-radius: 10em !important;
}

.site-layout-content {
  min-height: 80vh;
  padding: 24px;

  background: var(--white-color);
}
.breadcrump-item-tag {
  font-size: 0.9rem !important;
  padding: 0.5em !important;
  text-transform: uppercase;
  border-radius: 15em !important;
}
.ant-list-item {
  display: flex !important;
  justify-content: center !important;
}
.pagination-home {
  display: flex;
  justify-content: center;
  margin-bottom: 2em !important;
}

.logo {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.logo {
  padding-left: 13px;
  font-size: 1.2rem;
  color: var(--icon-color) !important;
}
.a-home {
  font-size: 22px;
  color: #111;
}
.home .a-home:hover {
  scale: 1.2;
  transition: 0.1s all ease-in-out;
}

.meta-title span {
  color: #141414 !important;
}

.ant-pagination-item a {
  color: #0008 !important;
}
.ant-pagination-item:hover {
  border-color: var(--ant-primary-color) !important;
}
.ant-pagination-item-active {
  border-color: var(--ant-primary-color) !important;
}
.back-top {
  font-size: 40px;

  color: var(--breadcrump-color) !important;
}
