* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 80px;
}
.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center;
  align-items: center;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
